@media screen and (min-width: 769px) and (max-width:1440px) {    
body {
    background: #1B2473;
    width: 1440px;
    height: 737px;
}

.frame {
    position: relative;
    height: 412px;
    width: 600px;
    left: 412px;
    top: 82px;
    border-radius: 20px;
    background: #ffffff;
}

.frame__title {
    position: absolute;
    top: 26px;
    left: 242px;
    border: none;
    padding: 0;
    width: 115px;
    height: 50px;
    color: #787878;
    font-size: 50px;
    font-style: normal;
    font-family:sans-serif;
    text-align: left;
}

.frame__input {
    position: absolute;
    top: 112px;
    left: 45px;
    width: 509px;
    height: 49px;
    border: 2px solid #787878;
    border-radius: 10px;
    color: blue;
}

.input__email::placeholder {
    color: #787878;
}

.input-pass__password::placeholder {
    color: #CCCCCC;
}

.input__name {
    font-size: 16px;
    color: #787878;
    width: fit-content;
    margin-top: -20px; 
    margin-left: 8px;
    margin-bottom: 0;
}

.input__email {
    color: #787878;
    font-size: 28px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 15px; 
    border: none;
}

.input__email:hover {
    border: 2px solid rgb(25, 192, 234);
    border-radius: 10px;
}

.frame__input-pass {
    position: absolute;
    top: 193px;
    left: 45px;
    width: 509px;
    height: 49px;
    border: 2px solid #787878;
    border-radius: 10px;
}

.input-pass__password {
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
    margin-top: 7px;
    margin-left: 15px;
    border: none;
}  

.input-pass__password:hover {
    border: 2px solid red;
    border-radius: 10px;
}

.frame__checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    top: 258px;
    left: 45px;
}

.frame__checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}

.frame__checkbox-mark {
    width: 24px;
    height: 24px;
    border: 2px solid #0d0d0e;
    border-radius: 7px;
}

.frame__checkbox:hover + .frame__checkbox-mark {
    background: rgba(234, 25, 199, 0.3);
    border: 2px solid #1A226B; 

}

.frame__checkbox:checked + .frame__checkbox-mark::after {
    margin-left: 3px;
    content: "✔";
    color: rgb(255, 123, 0);
    font-size: 23px;
}

.frame__checkbox-label {
    margin-left: 10px;
    width: fit-content;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #787878;
    text-align: left;
}   

.frame__button {
    position: absolute;
    background: #1A226B;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    width: 180px;
    height: 52px;
    top: 334px;
    left: 218px;
    border-radius: 10px;
    opacity: 1;
} 

.frame__button:hover {
    opacity: 0.7;
    border: 2px solid yellow;
    box-shadow: 0 0 10px red;
    color: rgb(243, 13, 193);
 }


}

@media screen and (min-width:320px) and (max-width:768px) { 
body {
    background: #1B2473;
    width: 768px;
    height: 737px;
}
    
.frame {
    position: relative;
    height: 697px;
    width: 728px;
    left: 20px;
    top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    background: #ffffff;
}
    
.frame__title {
    position: absolute;
    top: 38px;
    left: 288px;
    border: none;
    padding: 0;
    width: 138px;
    height: 50px;
    color: #787878;
    font-size: 60px;
    font-style: normal;
    font-family:sans-serif;
    text-align: left;
}
    
.frame__input {
    position: absolute;
    top: 121px;
    left: 45px;
    width: 638px;
    height: 49px;
    border: 2px solid #787878;
    border-radius: 10px;
    color: rgb(16, 16, 17);
}
    
.input__email::placeholder {
    color: #CCCCCC;
}
    
.input-pass__password::placeholder {
    color: #CCCCCC;
}
    
.input__name {
    font-size: 24px;
    line-height: 16px;
    color: #787878;
    width: fit-content;
    height: 16px;
    margin-top: -20px; 
    margin-left: 8px;
}
    
.input__email {
    position: absolute;
    color: #787878;
    font-size: 28px;
    font-weight: bold;
    border: none;
    width: fit-content;
    height: fit-content;
    bottom: 3px;
    left: 15px;
    z-index: 1;
}
    
.input__email:hover {
    border: 2px solid rgb(235, 10, 10);
    border-radius: 10px;
}
    
.frame__input-pass {
    position: absolute;
    top: 207px;
    left: 45px;
    width: 638px;
    height: 49px;
    border: 2px solid #787878;
    border-radius: 10px;
}
    
.input-pass__password {
    position: absolute;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    border: none;
    bottom: 3px;
    left: 15px;
    z-index: 1;
}  
    
.input-pass__password:hover {
    border: 2px solid rgb(106, 22, 218);
    border-radius: 10px;
}
    
.frame__checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    top: 272px;
    left: 45px;
    width: fit-content;
    height: 45px;
}
    
.frame__checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}
    
.frame__checkbox-mark {
    width: 32px;
    height: 32px;
    border: 2px solid #787878;
    border-radius: 7px;
}
    
.frame__checkbox:hover + .frame__checkbox-mark {
    background: rgba(12, 5, 228, 0.7);
    border: 2px solid #f70202; 
}

.frame__checkbox:checked + .frame__checkbox-mark::after {
    margin-left: 6px;
    content: "✔";
    color: rgb(255, 123, 0);
    font-size: 26px;
}
    
.frame__checkbox-label {
    margin-left: 10px;
    width: fit-content;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: #787878;
    text-align: left;
    }   
    
.frame__button {
    position: absolute;
    background: #1A226B;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    width: 220px;
    height: 80px;
    top: 375px;
    left: 254px;
    border-radius: 10px;
    opacity: 1;
    } 
    
.frame__button:hover {
    opacity: 0.5;
    border: 2px solid rgb(18, 195, 204);
    box-shadow: 0 0 10px rgb(11, 21, 197);
    color: rgb(208, 243, 13);
}
}