body {
    background-image: url(https://img.freepik.com/free-vector/neon-lights-background-theme_52683-44625.jpg?size=626&ext=jpg) ;
}
/* sidebar */

.sidebar_container {
    margin-top: 10px;
    width: 200px;
}

.block_sidebar {
    width: fit-content;
    max-width: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: red;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 2px rgb(67, 7, 233);
    width: 200px;
    opacity: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    width: 170px;
    border-radius: 20px;
    text-align: center;
    color: rgb(8, 8, 8);
    background-color: rgb(78, 11, 235);
    opacity: 0.9;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f11035;
}

/* [href="https://instagram.com"] {
    color: salmon;
}

[href="https://vk.com"] {
    color: springgreen;
}

[href^="https://www."] {
    color: pink;
} */

.block-container {
    position: relative;
    left: 210px;
    width: 100%;
    border-left: 2px yellow solid;
    border-bottom: 2px yellow solid;
    border-radius: 20px;
}

/* header */
.block-container__header {
    position:fixed;
    top: 10px;
    height: 50px;
    width: 100%;
    font-size: 30px;
    color: darkorange;
    box-shadow: 0px 0px 10px rgb(10, 205, 231);
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    background: #8b09e2;
    text-align:left;
}

.block-container__sticky {
    display: block;
    position: sticky;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    width: 100%;
    top: 70px;
    margin-top: 30px;
    padding: 10px;
    color: rgb(127, 8, 238);
    background: rgb(48, 225, 238);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(253, 207, 4);
    opacity: 0.8;
}

.block-container__text {
    padding: 10px;
    margin: 0;
}

.text1 {
    font-size: 1em;
    font-weight: bold;
    line-height: 20px;
    color: magenta;
}