body {
    background: #1B2473;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: auto;
    padding-top: 82px;
    min-width: none;
}

.frame {
    border-radius: 20px;
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
}

.frame__title {
    border: none;
    color: #787878;
    font-size: 50px;
    line-height: 50px;
    font-style: normal;
    font-family:sans-serif;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 4px;
}

.frame__input {
    color: #787878;
    margin-top: 13px;
}

.input__name {
    font-size: 16px;
    width: fit-content;
    display: block;
    padding-left: 8px;
    margin-bottom: 3px;
}

#input__input-email {
    box-sizing: border-box;
    color: #787878;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    border: 2px solid #787878;
    border-radius: 10px;    
    padding: 6px 0 7px 15px;
    outline-color: blue;
    width: 100%;
}

#input__input-email:active {
    color: darkkhaki;
}

#input__input-password {
    box-sizing: border-box;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    border: 2px solid #787878;
    border-radius: 10px;
    padding: 6px 0 7px 15px;
    outline-color: blue;
    width: 100%;
}  

#input__input-email::placeholder {
    color: #CCCCCC;
}

#input__input-password::placeholder {
    color: #CCCCCC;
}

.frame__checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 16px;
    color: #787878;
    text-align: left;
}

#checkbox-wrapper__input-checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}

.checkbox-wrapper__checkbox-mark {
    width: 24px;
    height: 24px;
    border: 2px solid #787878;
    border-radius: 7px;
}

#checkbox-wrapper__input-checkbox:hover + .checkbox-wrapper__checkbox-mark {
    border: 2px solid rgb(255, 162, 13)
}

#checkbox-wrapper__input-checkbox:checked + .checkbox-wrapper__checkbox-mark::after {
    content: "✔";
    padding-left: 4px;
    font-size: 22px;
    color: rgb(91, 13, 236);
}

.checkbox-wrapper__checkbox-label {
    padding-left: 10px;
    width: fit-content;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}   

.frame__btn {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 26px;
    opacity: 1;
}

.btn-size {
    background: #1A226B;
    font-size: 24px;
    font-style: normal;
    padding: 18px 56px 18px 55px;
    color: #FFFFFF;
    border-radius: 10px;
} 

.btn-size:hover {
    opacity: .8;
    border: 2px solid yellow;
    box-shadow: 0 0 10px red;
    color: rgb(243, 13, 193);
}

@media screen and (min-width:320px) and (max-width:768px) {
.body {
    margin: 0;
}

.container {
    margin: 0;
    box-sizing: border-box;
    padding: 20px 20px;
    min-height: 100vh;
    min-width: 100vw;
}

.frame {
    width: 100%;
}

.frame__title {
    font-size: 60px;
}

.input__name {
    font-size: 24px;
}

.checkbox-wrapper__checkbox-mark {
    width: 32px;
    height: 32px;
}

.checkbox-wrapper__checkbox-label {
    font-size: 18px;
}

#checkbox-wrapper__input-checkbox:hover + .checkbox-wrapper__checkbox-mark {
    border: 2px solid rgb(255, 13, 162)
}

#checkbox-wrapper__input-checkbox:checked + .checkbox-wrapper__checkbox-mark::after {
    content: "✔";
    padding-left: 4px;
    font-size: 28px;
    color: rgb(236, 13, 50);
 } 

 .btn-size {
    font-size: 32px;
 }

 .btn-size:hover {
     color:rgb(118, 11, 240, 1);
     border: 2px solid red;
 }
}
