@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

{
    box-sizing: border-box;
}

body {
    margin: 0 10px;
    background-color: #f2f2f2;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Secular One', sans-serif;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.sidebar-container {
    font-weight: 200;
    margin: 0;
    width: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: red;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 2px rgb(67, 7, 233);
    width: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    width: 170px;
    border-radius: 20px;
    text-align: center;
    color: rgb(8, 8, 8);
    background-color: rgb(11, 202, 235);
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3638b8;
;
}

.header {
    background-image: url("/img/bckgr-header.jpeg");
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 4px  1px 10px red;
}

.header__text {
    font-size: 3em;
    letter-spacing: 0.5em;
    width: fit-content;
    font-family: 'Secular One', sans-serif;
    color: #FF2400;
    padding-left: 20px;
    text-shadow: 0 0 12px mediumblue;
    border-bottom: 2px solid #6c757d;
    border-radius: 50px;
}

.header__text2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.header-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.text-nav {
    font-size: 1.2em;
    margin: 0;
    font-family: 'Lato', cursive;
    font-style: italic;
}

h2 {
    text-align: center;
}

.enter-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: black;
    margin-right: 10px;
}

.btn-secondary {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 0 12px mediumblue;
}

.enter-span {
    text-decoration: none;
    outline: 0;
}
.enter-span:hover {
    color: red;
    font-weight: 500;
}

.text {
    background: red;
    padding: 30px 30px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    border-bottom: 3px solid #6c757d;
    border-radius: 20px;
    box-shadow: 4px  1px 10px red;
}

section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-header {
    margin-top: 50px;
}

a {
    font-size: 20px;
    text-decoration: none;
    outline: 0;
}

a:hover, a:focus {
    color: darkred;
    text-decoration: none;
    outline: 0;
}

.d-block.w-100 {
    width: 100%!important;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0 0 20px #dc3545;
}

.carousel-control-prev-icon {
    background-image: url("/img/arrow-left-circle.svg");
}

.carousel-control-next-icon {
    background-image: url("/img/arrow-right-circle.svg");
}

.carousel-control-prev, .carousel-control-next {
    width: 30px;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.card-img-top {
    height: 220px;
    border-radius: 20px;
    box-shadow: 0 0 10px yellow;
    max-width: 300px;
}


.card.w-100 {
    display: inline-block;
    margin-top: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px #6c757d;
    /*height: 400px;*/
    width: 300px!important;
}

.card-body {
    padding: 10px 10px;
}

.card-title {
    text-align: center;
    font-weight: 700;
}

.card-text {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.card-text-price {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    color: red;
    padding-top: 10px;
    margin: 0;
}

.col.col-sm {
    display: flex;
    justify-content: center;
}

.text-danger {
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
}

.text-black {
    padding-top: 10px;
    text-align: center;
    font-weight: 200;
}

.card-img-bottom {
    border-radius: 30px;
    box-shadow: 4px  1px 10px red;
    transition: transform .2s;
}

.card-img-bottom:hover {
    padding: 5px 5px;
    transform: scale(1.3);
    border-radius: 150px;
    box-shadow: 3px 0 10px #dc3545;
}

.title-footer {
    text-align: center;
    padding-top: 10px;
    color: #6a1a21;
    font-weight: 700;
    font-size: 1.5em;
}

.text-footer {
    padding: 30px 30px;
    border-top: 1px solid lightslategrey;
    font-size: 1.2em;
    margin: 0 30px;
    box-shadow: 0 0 2px red;
    border-radius: 20px;
}

.about-text {
    padding: 10px;
    font-weight: 400;
    font-size: 0.8em;
    font-family: cursive;
}

.icon-olymp {
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 50px 0;
}

.icon-footer {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 7px blue;
    transition: transform .4s;
}

.icon-footer:hover {
    outline: 2px black;
    border: 2px solid red;
    box-shadow: 0 3px 10px #dc3545;
    transform: scale(1.4);
}

.footer {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #495057;
    border: 3px solid grey;
    box-shadow: 4px 2px 20px #dc3545;
    border-radius: 20px;
}

#footer-roots {
    margin: 0;
    font-size: 19px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .header__text {
        padding-left: 20px;
        text-align: center;
    }

    .carousel-item.active {
        padding: 0 10px 20px;
    }

    .col.col-sm {
        display: flex;
        justify-content: center;
    }

    .header__text2 {
        font-size: 1.8em;
        font-weight: 800;
    }
}

@media screen and (min-width: 468px) and (max-width: 768px) {
    .section-header {
        margin-top: 20px;
    }

    .col.col-sm {
        display: flex;
    }

    .header__text {
        padding-left: 20px;
        text-align: center;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: none;
    }

    .card-title h5 {
        font-size: 1.8em;
    }

    .card-text, .card-text-price {
    }

    .card.w-100 {
        max-width: 220px;!important;
    }

    .col.col-sm {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width:320px) and (max-width:467px) {

    body {
        margin: 0;
        padding: 15px 10px;

    }

    .container.navbar-header {
        display: flex;
        flex-direction: column;
    }

    .section-header {
        margin-top: 20px;
    }

        .card.w-100 {
            max-width: 300px;!important;
        }

        .col.col-sm {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-title h5 {
            font-size: 0.8em;
        }

        .carousel-control-next-icon, .carousel-control-prev-icon {
            display: none;
        }

        .col.col-sm {
            display: flex;
            justify-content: center;
        }
 }









