body {
    background-image: url(/Users/Stepan/Desktop/WEB/html/homework_8/img/bckg.jpg);  
}

img.logotype {
    width: 200px;
    height: 200px;
}

h1 {
    color: royalblue;
    font-family: sans-serif;
}

h1.form-title {
    font-size: 120px;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(199, 199, 11);
    text-transform: uppercase;
}

h1.form-title.form-title-thin {
    font-weight: normal;
}

h2 {
    color: rgb(30, 168, 60);
    font-family: Verdana, sans-serif;
}

h2.form-title {
    margin-top: 50px;
    text-shadow: 8px 8px rgb(22, 22, 21);
    font-size: 80px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    width: 250px;
    height: 200px;
    border-bottom-style: double;
}

.card {
    position: relative;
    max-width: 250px;
    max-height: 370px;
    margin: 0;
    background-color: white;
    border-style: double;
    border-color: blue;
    border-radius: 10px;
    box-shadow: 1px 1px blue;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 100px;
}

.name {
    margin: 0px;
    text-align: center;
    color: blue;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px;
}

.name1 {
    color: grey;
}

.name2 {
    color: rgb(170, 23, 23); 
}

.name3 {
    color: rgb(17, 231, 238); 
}

.name4 {
    color: violet;
}
.name5 {
    color: yellowgreen;
}

.name6 {
    color: orange;
}

.price {
    margin: 0px;
    text-align: center;
    color: crimson;
    text-shadow: 0.5px 0.5px rgb(71, 9, 9);
    padding: 1px;
}

p.text {
    color: grey;
}

.text {
    margin: 0px;
    text-align: center;
    padding-top: 15px;
    font-size: 10px;
}

.text1 {
    font-size: 20px;
    text-align: center;
    color: rgb(205, 245, 195);

}

.card button {
    text-align: center;
    background: rgb(231, 109, 9);
    border:none;
    cursor: pointer;
    padding: 12px;
    width: 100%
}

.border_spn {
    margin-top: 80px;
    margin-bottom: 30px;
}
.spn {
    color: mediumspringgreen;
    text-shadow: 5px 5px blue;
    font-size: 90px;
    box-shadow: 5px 5px 5px 5px rgb(4, 133, 207);
    border-radius: 8px;
    border-color: yellow;
    border-style:double;
    margin-left: 70px;
    padding: 10px;
}

.btn {
    background-color: rgb(4, 133, 207);
    color: rgb(15, 233, 33);
    font-size: 20px;
    text-shadow: 5px 5px rgb(72, 73, 153);
    cursor: pointer;
    padding: 10px;
    border-style: double;
    border-color: rgb(196, 236, 16);
    border-radius: 20px;
    width: auto;
    margin-left: 50px;
    margin-top: 10px;
}