body {
    background-image: url(https://img.freepik.com/free-vector/neon-lights-background-theme_52683-44625.jpg?size=626&ext=jpg) ;
}

.sidebar_container {
    margin-top: 10px;
    width: 200px;
    height: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: red;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 2px rgb(67, 7, 233);
    width: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    width: 170px;
    border-radius: 20px;
    text-align: center;
    color: rgb(8, 8, 8);
    background-color: rgb(11, 202, 235);
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3638b8;
    ;
}

/* [href="https://instagram.com"] {
    color: salmon;
}

[href="https://vk.com"] {
    color: springgreen;
}

[href^="https://www."] {
    color: pink;
} */

.block-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    z-index: 1;
    margin-left: 210px;
    width: 100%;
    border-left: 2px yellow solid;
    border-bottom: 2px yellow solid;
    border-radius: 20px;
}

.block-container__sticky {
    position: sticky;
    font-size: 30px;
    height: 30px;
    width: 90%;
    top: 70px;
    margin-top: 10px;
    padding: 10px;
    color: salmon;
    background: rgb(48, 225, 238);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(247, 244, 244);
}

.block-container__text {
    padding: 10px;
    margin: 0;
}

/* header */
.block-container__header {
    position:fixed;
    top: 10px;
    width: 90%;
    height: 50px;
    font-size: 35px;
    color: darkorange;
    padding-top: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    background: #8b09e2;
    text-align:left;
}

.text1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: magenta;
<<<<<<< HEAD
}
=======
}
>>>>>>> 038c66caadc2623b53d3c211044c1ea5f4fd407d
